@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto&display=swap');

:root{
    --cor-mais-claro: #00d7e1;
    --cor-claro: #00afe8;
    --cor-padrao: #4581ce;
    --cor-fundo: #e6f4f1;
    --cor-cinza: gainsboro;
    --preto: #131819;
    --fonte-titulos: 'Lora', serif;
    --fonte-textos: 'Roboto', sans-serif;
    --size-titulos: 24px;
    --size-subtitulos: 20px;
    --size-textos: 16px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-textos);
    font-size: var(--size-textos);
}

.container {
    width: 100%;
    padding: 0px 100px;
    box-sizing: border-box;
}

header, 
.top-menu, 
.navegacao {
    width: 100%;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 5rem;
}

.logo img{
    width: 100%;
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navlist {
    display: flex;
    flex-direction: row;
}

.navlist li {
    list-style: none;
}

.navlist a {
    text-decoration: none;
    color: var(--preto);
    padding: 5px 20px;
    text-transform: uppercase;
}

.navlist a:hover {
    color: var(--cor-padrao);
}

.login-buttons {
    width: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-buttons a {
    text-decoration: none;
    height: 20px;
    padding: 10px 20px;
}

.cadastro-button {
    color: var(--preto);
    background-color: var(--cor-cinza);
}

.cadastro-button:hover {
    color: #fff;
    background-color: var(--cor-mais-claro);
}

.login-button {
    color: #fff;
    background-color: var(--cor-padrao);
}

.login-button:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-claro);
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fotofundo.jpeg);
    background-size: cover;
}


article{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 5% 0 5%;
}
.subarticle{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.textoarticle{
    width: 50%;
    height: auto;
    overflow: hidden;
    padding: 5%;
    box-sizing: border-box;
    float: left;
}
.titulo{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: x-large;
    color: #108cc6;
    margin-bottom: 5%;
}
.textinho{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: larger;
    text-align: justify;
    margin-bottom: 5%;
    box-sizing: border-box;
}
button{
    width: 20%;
    height: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    background-color: #108cc6;
}
.imagemarticle{
    width: 40%;
    height: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    margin: 5% 0 5% 0;
}
article img{
    width: 100%;
    float: left;
}
footer{
    width: 100%;
    height: auto;
    background-color: #108cc6;
    padding: 5% 0 5% 0;
    box-sizing: border-box;
}
.boxgrande{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.box{
    width: 20%;
    height: 100%;
    margin-left: 10%;
    float: left;
}
.boximage{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5%;
}
.boximage img{
    width: 100%;
}
.titulofooter{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: larger;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.footertext{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: large;
    color: #ffffff;
    text-align: center;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.footerbutton{
    width: 80%;
    height: auto;
    overflow: hidden;
    background-color: #1d334a;
    font-size: large;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10%;
}
@media screen and (max-width: 1350px){
    .boxgrande{
        width: 100%;
    }
    .box{
        margin: 0;
        width: 33.33%;
    }
}
@media screen and (max-width: 1000px){
    .textoarticle, .imagemarticle{
        width: 100%;
    }
}
@media screen and (max-width: 750px){ 
    .cont, .navegacao, .subarticle1, .subarticle2, .textoarticle, .imagemarticle{
        width: 100%;
        text-align: center;
    }
    li{
        width: 70%;
    }
    .logo{
        width: 30%;
        margin-top: 5%;
    }
    section img{
        content: url(_imagens/fotofundomenor.jpeg)
    }
    .box{
        width: 100%;
        padding: 5px;
        margin: auto;
    }
}

    
  