*{
    margin: 0;
}
header{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #108cc6;
    float: left;
}
.contatos{
    width: 100%;
    max-width: 900px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.cont{
    width: 33.333%;
    height: 35px;
    text-align: center;
    padding-top: 1%;
    box-sizing: border-box;
    float: left;
}
.cont p{
    color: aliceblue;
}
nav{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
}
.navegacao{
    width: 90%;
    margin: auto;
}
.logo{
    width: 4%;
    height: auto;
    overflow: hidden;
    float: left;
}
.logo img{
    width: 100%;
}
li{
    width: 15%;
    height: auto;
    overflow: hidden;
    list-style: none;
    font-size: medium;
    text-align: center;
    float: right;
    padding: 2%;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: auto;
    overflow: hidden;
}
section img{
    width: 100%;
}
article{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 5% 0 5%;
}
.subarticle{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.textoarticle{
    width: 50%;
    height: auto;
    overflow: hidden;
    padding: 5%;
    box-sizing: border-box;
    float: left;
}
.titulo{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: x-large;
    color: #108cc6;
    margin-bottom: 5%;
}
.textinho{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: larger;
    text-align: justify;
    margin-bottom: 5%;
    box-sizing: border-box;
}
button{
    width: 20%;
    height: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    background-color: #108cc6;
}
.imagemarticle{
    width: 40%;
    height: auto;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    margin: 5% 0 5% 0;
}
article img{
    width: 100%;
    float: left;
}
footer{
    width: 100%;
    height: auto;
    background-color: #108cc6;
    padding: 5% 0 5% 0;
    box-sizing: border-box;
}
.boxgrande{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.box{
    width: 20%;
    height: 100%;
    margin-left: 10%;
    float: left;
}
.boximage{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5%;
}
.boximage img{
    width: 100%;
}
.titulofooter{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: larger;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.footertext{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: large;
    color: #ffffff;
    text-align: center;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.footerbutton{
    width: 80%;
    height: auto;
    overflow: hidden;
    background-color: #1d334a;
    font-size: large;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10%;
}
@media screen and (max-width: 1350px){
    .boxgrande{
        width: 100%;
    }
    .box{
        margin: 0;
        width: 33.33%;
    }
}
@media screen and (max-width: 1000px){
    .textoarticle, .imagemarticle{
        width: 100%;
    }
}
@media screen and (max-width: 750px){ 
    .cont, .navegacao, .subarticle1, .subarticle2, .textoarticle, .imagemarticle{
        width: 100%;
        text-align: center;
    }
    li{
        width: 70%;
    }
    .logo{
        width: 30%;
        margin-top: 5%;
    }
    section img{
        content: url(_imagens/fotofundomenor.jpeg)
    }
    .box{
        width: 100%;
        padding: 5px;
        margin: auto;
    }
}

    
  