.about {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.about-text-box {
    margin-right: 20px;
    padding: 25px;
}

.about-title {
    color: var(--preto);
    margin-bottom: 20px;
    font-size: var(--size-subtitulos);
    text-align: center;
}

.about-text {
    color: var(--preto);
    font-size: var(--size-textos);
}
