.background-about {
    background-image: url(../_media/back-about.jpeg);
    background-position: center;
}

.about {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.about-text-box {
    margin-right: 20px;
    padding: 25px;
}

.about-title {
    color: var(--cor-padrao);
    margin-bottom: 20px;
    font-size: var(--size-subtitulos);
    text-align: center;
}

.about-text {
    color: var(--preto);
    font-size: var(--size-textos);
}

.about-images {
    display: flex;
    flex-direction: column;
}

.about-img {
    padding: 7px 10px;
}

.about-img img {
    width: 25rem;
    height: 15rem;
}
