/* PÁGINA EXCURSÕES */

.title-excursions-article {
    padding: 0;
}

.filters-box {
    display: flex;
    justify-content: space-between;
}

.filters-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filters-form h2 {
    margin: 0 20px;
}

.filters-form select {
    font-family: var(--fonte-padrao);
    font-size: 14px;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.filter-buttons {
    margin-left: 20px;
}

.filter-buttons input {
    font-size: 16px;
    font-family: var(--fonte-padrao);
    cursor: pointer;
    letter-spacing: 1px;
}

.search-box {
    display: flex;
    justify-content: space-around;
}

.form-search {
    display: flex;
    align-items: center;
}

.search {
    width: 13rem;
    padding: 5px;
    margin-right: 10px;
}

.search-button {
    width: 30px;
    height: 30px;
    background-color: var(--cor-cinza);
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--cor-padrao);
}

.search-button img {
    width: 100%;
}

.excursion-card {
    display: flex;
    justify-content: center;
}

.excursion-card a {
    max-width: 1300px;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    cursor: pointer;
}

.img-excursion-box {
    max-width: 25rem;
}

.img-excursion-box img {
    width: 100%;
    height: auto;
}

.text-excursion {
    padding: 30px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.info {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.info-duration {
    display: flex;
    align-items: center;
}

.info-duration img {
    width: 20px;
    margin-right: 10px;
}

/* PAGINA DA EXCURSÃO */

.excursion-article {
    border-top: 1px solid #333;
}

.excursion-box {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.images-excursion {
    max-width: 40rem;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.little-images {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.little-images img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 10px;
}

.selected-img img {
  width: 100%;
}

.info-excursion {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-excursion h2 {
    margin-bottom: 20px;
}

.price-time-excursion {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.price-excursion {
    color: var(--cor-secundaria);
}

.excursion-box__button {
    margin: 0 auto;
}

.pop-up-check, 
.pop-up-confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.pop-up-check__box, 
.pop-up-confirm__box {
    max-width: 40rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 50vh auto;
    z-index: 30;
    position: relative;
}

.pop-up-check__box__close-button, 
.pop-up-confirm__box__close-button {
    position: absolute;
    right: 10px;
}

.general-excursion, 
.includes-route-box, 
.cancel-excursion {
    max-width: 1400px;
    margin: 0 auto;
}

.includes-route-box {
    display: flex;
    justify-content: space-evenly;
}

.route-excursion, 
.includes-excursion {
    width: 50%;
}