/* CALL */
.call-article {
    height: 100vh;
    background-image: url(../_media/home-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.call-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.call {
    width: 30rem;
    margin-top: 150px;
}

.title-call {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px 0;
}

.subtitle-call{
    color: #fff;
    font-size: 24px;
}

.call-form {
    margin-top: 10px;
}

.call-input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 20px 0 0 20px;
    position: relative;
}

.call-search-button {
    width: 60px;
    background: var(--cor-padrao);
    font-size: 20px;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    position: absolute;
    cursor: pointer;
}

.call-form button:hover {
    background-color: var(--cor-cinza);
}

/* INTRO */
.intro-section {
    padding: var(--padding-top-bottom);
}

.title-intro {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 600;
    position: relative;
}

.title-intro::before {
    content: '';
    width: 100%;
    height: 2px;
    top: 40px;
    left: 0;
    background-color: var(--cor-claro);
    position: absolute;
}

.text-intro p {
    text-align: center;
}

/* SERVICES */
.services-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.icon-service {
    width: 20rem;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-service img {
    width: 4em;
    border-radius: 50%;
    border: 3px solid black;
}

.title-services {
    text-align: center;
    font-size: var(--size-subtitulos);
    margin-top: 10px;
}

.text-service{
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}

/* TRAVELS */

/* Usar Jquery ou algo do tipo para arrastar os cards */
.travels {
    background-image: url(../_media/fundo-cards.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.travels-section {
    padding: var(--padding-top-bottom);
}

.title-travels {
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

.card-travels-box {
    flex-wrap: wrap;
}

.travel-card {
    width: 15rem;
    height: 21rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 20px;
    transition: all 0.3s ease-out;
}

.travel-card:hover {
    transform: scale(1.1);
}

.travel-card a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.nature-card {
    background-image: url(../_media/natureza.jpg);
}

.resort-card {
    background-image: url(../_media/hotel-card.jpg);
}

.beach-card {
    background-image: url(../_media/praia-card.jpg);
}

.city-card {
    background-image: url(../_media/city-card.jpg);
}

.travel-title-card {
    padding: 0 0 10px 10px;
    text-transform: uppercase;
    font-size: var(--size-subtitulos);
    font-weight: 600;
    color: #fff;
}

/* MOST POPULAR

.popular-tours-title {
    text-align: center;
}

.popular-cardbox {
    margin-top: 20px;
}

.tour-card {
    max-width: 15rem;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.101);
}

.tour-card-img-box {
    max-height: 10rem;
}

.tour-card-text {
    padding: 15px;
}

.tour-card p {
    margin-bottom: 10px;
}

.tour-card h3 {
    text-align: center;
} */


/* REVIEWS */

.review-article {
    background-color: var(--cor-cinza);
}

.title-reviews {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.reviews-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.review-box {
    background-color: white;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: var(--padding-boxes);
    border-radius: 15px;
    margin: 10px;
}

.review-box img {
    width: 5em;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-box h3 {
    margin-bottom: 10px;
}

.review-box p {
    margin-bottom: 10px;
    text-align: center;
}

