@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto&display=swap');

:root{
    --cor-padrao:  #006666;
    --cor-secundaria: #627c7b;
    --cor-cinza: #666666;
    --preto: #333;
    --fonte-padrao: 'Segoe UI';
    --size-page-titles: 32px;
    --size-titulos: 28px;
    --size-subtitulos: 24px;
    --size-textos: 16px;
    --size-responsive-titles: 22px;
    --padding-boxes: 10px;
    --padding-spacing: 30px;
    --padding-top-bottom: 30px 0;
    --margin-responsive: 20px;
    --border-radius: 10px;
    --size-icons: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default */

body {
    font-family: var(--fonte-padrao);
}

a {
    text-decoration: none;
}

p {
    font-size: var(--size-textos);
    color: var(--preto);
    line-height: 25px;
}

.img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: var(--size-titulos);
}

h2 {
    font-size: var(--size-subtitulos);
}

ul li {
    list-style: none;
}

article {
    padding: 25px 0;
}

.button {
    width: fit-content;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.primary-button {
    color: #fff;
    background-color: var(--cor-padrao);
}

.primary-button:hover {
    background-color: var(--cor-secundaria);
}

.secondary-button {
    color: #fff;
    background-color: var(--cor-cinza);
}

.secondary-button:hover {
    background-color: var(--preto);
}

.page-title {
    font-size: var(--size-page-titles);
    color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px #000000e3;
}

.box-row,
.box-inline, 
.box-inline-items, 
.box-column, 
.box-inline-centered {
    display: flex;
    align-items: center;
}

.box-row {
    flex-direction: row;
}

.box-inline-centered {
    justify-content: center;
}

.box-inline {
    justify-content: space-evenly;
}

.box-inline-items {
    justify-content: space-between;
}

.box-column {
    flex-direction: column;
}

.container {
    width: 100%;
    padding: 0px 110px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0px 100px;
    }
}

@media screen and (max-width: 1060px) {
    .container {
        padding: 0px 90px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        padding: 0px 80px;
    }
}

@media screen and (max-width: 770px) {
    .container {
        padding: 0px 60px;
    }
}

@media screen and (max-width: 570px){
    .container {
        padding: 0 20px;
    }
}

/* HEADER */

.top-menu {
    background-color: var(--cor-padrao);
    padding: var(--padding-boxes);
    box-sizing: border-box;
    transition: margin-top 0.3s;
}

.top-bar {
    height: 18px;
}

.top-item p {
    color: #fff;
}

.top-icon {
    width: var(--size-icons);
    margin-left: 6px;
    fill: #fff;
}

.top-icon:hover {
    fill: var(--preto);
}

.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px #11101080;
}

.header-box {
    padding: var(--padding-boxes);
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-rows: 1fr;
}

.fixed {
    position: fixed;
    z-index: 50;
    top: 0;
}

.logo-box {
    width: 200px;
}

.navlist li {
    padding: 5px 15px;
}

.nav-link, 
.link-drop-sidemenu {
    color: var(--preto);
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--cor-padrao);
}

.link-drop {
    position: relative;
    transition: all 0.3s;
}

.nav-link:hover + .submenu, 
.submenu:hover {
   display: block;
}

.nav-link:hover .arrow-menu {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.submenu {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(31, 30, 30, 0.3);
    padding: 10px 15px;
    display: none;
    z-index: 10;
    position: absolute;
}

.arrow-menu {
    width: 15px;
    transition: all 0.3s;
}

.arrow-up {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.submenu-link {
    color: var(--preto);
}

.submenu-link:hover {
   color: var(--cor-padrao);
}

.submenu li {
    margin-bottom: 15px;
}

.bar-button-box {
    display: none;
    width: fit-content;
    margin-left: 20px;
    cursor: pointer;
}

.bar-button-box:active {
    background-color: var(--cor-escuro);
}

.nav-buttons-box {
    justify-content: end;
}

.login-buttons a {
    white-space: nowrap;
}

.login-button {
    margin-left: 5px;
}

.side-menu {
    width: 0px;
    height: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 60;
    transition: all 0.5s;
}

.navlist-side {
    margin-top: 40px;
}

.navlist-side li {
    list-style: none;
    padding: 5px 30px;
}

.side-submenu {
    background-color: #00000000;
    position: relative;
    display: none;
    box-shadow: none;
    margin: 0;
}

.button-close {
   padding: 10px 0 0 20px;
   cursor: pointer;
}

.background-page {
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

/* Footer */

footer {
    padding-top: 60px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-box {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr;
    grid-template-rows: 1fr;
    padding-bottom: 40px;
}

.logo-footer, 
.menu-footer, 
.social-media-box, 
.contacts-footer {
    padding: 0 15px;
}

.title-footer {
    font-size: var(--size-subtitulos);
}

.navlist-footer {
    list-style: none;
}

.nav-item {
    padding: 10px 0;
}

.nav-link {
    color: var(--preto);
    text-transform: uppercase;
    font-size: 14px;
    white-space: nowrap;
}

.contact-footer {
    padding: 5px 0;
}

.dev-footer {
    background-color: var(--cor-secundaria);
    padding: 30px 0;
}

.dev-text {
    width: 100%;
    color: #fff;
    text-align: center;
}

/* Responsive */

@media screen and (max-width: 1400px) {
    .filters-box {
        flex-direction: column;
    }

    .search-box {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .title-call h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .title-call h1 {
        font-size: 30px;
    }

    .reviews-container {
        grid-template-columns: 2fr 2fr;
    }
}

@media screen and (max-width: 990px) {
    .header-box {
        display: flex;
        justify-content: space-between;
    }

    .nav,
    .login-buttons {
        display: none;
    }

    .bar-button-box {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .call {
        margin-top: 50px;
    }

    .call-article {
        height: 300px;
    }

    .intro {
        flex-direction: column;
    }

    .intro-text-box {
        width: 90%;
        margin-bottom: 40px;
    }

    .intro-img-box {
        width: 50%;
    }

    .icon-service {
        width: 25rem;
    }

    .filters-form {
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .reviews-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
        gap: 20px;
    }

    footer {
        padding-top: 40px;
    }

    .footer-box {
        padding: 0 40px 40px 40px;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 3fr 4fr 2fr 1fr !important;
    }

    .logo-footer,
    .menu-footer,
    .contacts-footer,
    .social-media-box {
        padding-top: 10px;
    }

    .background-about {
        height: 300px;
    }

    .about-text p {
        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    .top-menu {
        justify-content: space-between !important;
    }

    .login-buttons {
        display: none;
    }

    .call-input {
        width: 70%;
    }

    .intro-img-box {
        width: 60% !important;
    }

    .reviews {
        flex-wrap: wrap;
    }

    .cards-others {
        width: 80vw !important;
    }

    .background-about {
        height: 195px !important;
    }
}

@media screen and (max-width: 570px) {
    .top-menu {
        display: none;
    }

    article {
        padding: 30px 0;
    }

    .title-call {
        font-size: 25px;
    }

    .card-travels-box {
        flex-direction: column;
    }

    .travel-card {
        width: 15rem;
        height: 20rem;
        margin: 20px 0;
    }

    .box-services {
        flex-direction: column;
    }

    .icon-service {
        width: 90%;
    }

    .review-box {
        width: 80%;
        margin: 0 auto;
    }

    .about-title h1 {
        font-size: var(--size-responsive-titles);
    }

    .title-page-about {
        font-size: var(--size-responsive-titles);
    }
}
