:root{
    --cor-claro: #00afe8;
    --cor-padrao: #4581ce;
    --cor-escuro: #002563;
    --cor-secundaria: #eea00e;
    --cor-secundaria-hover: #c5652d;
    --cor-cinza: rgb(190, 190, 190);
    --preto: #333;
    --fonte-padrao: 'Segoe UI';
    --size-page-titles: 30px;
    --size-titulos: 30px;
    --size-subtitulos: 18px;
    --size-textos: 17px;
    --size-responsive-titles: 22px;
    --padding-small: 10px;
    --padding-medium: 30px;
    --padding-top-bottom: 30px 0;
    --margin-responsive: 20px;
    --border-radius: 10px;
    --size-icons: 25px;
}

*{
    margin: 0;
    padding: 0;
}

/* Pré-definições */

body {
    font-family: var(--fonte-padrao);
}

a {
    text-decoration: none;
}

p {
    font-size: var(--size-textos);
    color: var(--preto);
}

h1 {
    font-size: var(--size-titulos);
}

h2 {
    font-size: var(--size-subtitulos);
}

article {
    padding: 50px 0;
}

.nav-link {
    color: var(--preto);
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--cor-padrao);
}

.input-form {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    width: fit-content;
    cursor: pointer;
    border: none;
}

.primary-button {
    color: #fff;
    background-color: var(--cor-padrao);
}

.primary-button:hover {
    background-color: var(--cor-claro);
}

.secondary-button {
    color: var(--preto);
    background-color: var(--cor-secundaria);
}

.secondary-button:hover {
    color: #fff;
    background-color: var(--cor-secundaria-hover);
}

.tertiary-button {
    color: #fff;
    background-color: var(--cor-cinza);
}

.tertiary-button:hover {
    background-color: var(--cor-padrao);
}

.page-title {
    font-size: var(--size-page-titles);
    color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px #000000e3;
}

.box-inline, 
.box-inline-items, 
.box-column, 
.box-inline-centered {
    padding: var(--padding-default);
    display: flex;
    align-items: center;
}

.box-inline-centered {
    justify-content: center;
}

.box-inline {
    justify-content: space-evenly;
}

.box-inline-items {
    justify-content: space-between;
}

.box-column {
    flex-direction: column;
}