/* INDEX */
/* call */
.call-article {
    height: 60vh;
    background-image: url(../_media/home-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* intro */
.intro-article {
    background-color: var(--cor-secundaria);
}

.intro-article__section h2 {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 600;
    position: relative;
}

.intro-article__section p {
    color: #fff !important;
    text-align: center;
}

/* Features */
.features-article {
    background-color: var(--cor-secundaria);
    padding-top: 0 !important;
}

.features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-section__iconbox {
    flex: 0 1 20rem;
    padding: 30px 20px;
}

.features-section__iconbox svg {
    width: 4rem;
    fill: #fff;
}

.features-section__iconbox-title {
    color: #fff;
    text-align: center;
    font-size: var(--size-subtitulos);
    margin-top: 10px;
}

.features-section__iconbox-text {
    color: #fff;
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}

/* Cards */
/* Usar Jquery ou algo do tipo para arrastar os cards */
.travels {
    background-image: url(../_media/fundo-cards.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.travels__title {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.travel__cards-box {
    flex-wrap: wrap;
}

.travel__card {
    height: 20rem;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 0 1 220px;
    transition: all 0.3s ease-out;
}

.travel__card:hover {
    transform: scale(1.05);
}

.travel__card a {
    width: 100%;
    height: 100%;
    padding: 0 0 10px 10px;
    text-transform: uppercase;
    font-size: var(--size-subtitulos);
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: end;
}

.nature-card {
    background-image: url(../_media/natureza.jpg);
}

.resort-card {
    background-image: url(../_media/hotel-card.jpg);
}

.beach-card {
    background-image: url(../_media/praia-card.jpg);
}

.city-card {
    background-image: url(../_media/city-card.jpg);
}

/* Video */
.video-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-section__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 25rem;
    margin: 5px;
    gap: 50px;
}

.video-section__box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.video-section__box-text p {
    font-size: 18px;
    text-align: center;
}

.video-section__box {
    max-inline-size: 100%;
    block-size: auto;
}