@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto&display=swap');

:root{
    --cor-claro: #00afe8;
    --cor-padrao: #4581ce;
    --cor-escuro: #002563;
    --cor-secundaria: #eea00e;
    --cor-secundaria-hover: #c5652d;
    --cor-cinza: rgb(190, 190, 190);
    --preto: #333;
    --fonte-padrao: 'Segoe UI';
    --size-page-titles: 30px;
    --size-responsive-titles: 22px;
    --size-titulos: 24px;
    --size-subtitulos: 18px;
    --size-textos: 17px;
}

*{
    margin: 0;
    padding: 0;
}

/* Pré-definições */

body {
    font-family: var(--fonte-padrao);
    font-size: var(--size-textos);
    color: var(--preto);
}

a {
    text-decoration: none;
}

article {
    padding: 70px 0;
}

.container {
    width: 100%;
    padding: 0px 150px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0px 110px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        padding: 0px 80px;
    }
}

@media screen and (max-width: 770px) {
    .container {
        padding: 0px 60px;
    }
}

@media screen and (max-width: 570px){
    .container {
        padding: 0 20px;
    }
}

.secondary-button {
    color: var(--preto);
    background-color: var(--cor-cinza);
    padding: 10px 20px;
    width: fit-content;
    cursor: pointer;
    border: none;
}

.secondary-button:hover {
    color: #fff;
    background-color: var(--cor-secundaria);
}

.primary-button {
    color: #fff;
    background-color: var(--cor-padrao);
    padding: 10px 20px;
    width: fit-content;
    cursor: pointer;
    border: none;
}

.primary-button:hover {
    background-color: var(--cor-claro);
}

.second-color-button {
    color: #fff;
    padding: 10px 20px;
    width: fit-content;
    background-color: var(--cor-secundaria);
}

.second-color-button:hover {
    background-color: var(--cor-secundaria-hover);
}

/* HEADER */
header, 
.top-menu, 
.header,  
.navegacao {
    width: 100%;
}

.header {
    box-shadow: 0 4px 8px #11101080;
}

.call-article {
    height: 400px;
    background-image: url(../_media/praia_fundo.jpg);
    background-size: cover;
    background-position: center;
}

.top-menu {
    background-color: var(--cor-padrao);
    padding: 10px;
    box-sizing: border-box;
    transition: margin-top 0.3s;
}

.top-box {
    display: flex;
    justify-content: space-between;
}

.top-phone, 
.top-social-media {
    height: 30px;
    display: flex;
    align-items: center;
}

.top-phone p {
    color: #fff;
}

.tel-link {
    display: flex;
    align-items: center;
}

.top-icon {
    width: 22px;
    margin-left: 6px;
    fill: #fff;
}

.top-icon:hover {
    fill: var(--cor-claro);
}

.header {
    width: 100%;
    background-color: #fff;
}

.header-box {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-rows: 1fr;
}

.fixed {
    position: fixed;
    z-index: 50;
    top: 0;
}

.logo {
    width: 70px;
}

.logo img{
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist {
    display: flex;
    flex-direction: row;
}

.navlist li {
    list-style: none;
    padding: 5px 15px;
}

.nav-link {
    color: var(--preto);
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--cor-padrao);
}

.link-drop {
    position: relative;
    transition: all 0.3s;
}

.submenu {
    background-color: #fff;
    padding: 15px 10px;
    box-shadow: 0 4px 6px rgba(31, 30, 30, 0.3);
    margin-top: 34px;
    display: none;
    z-index: 10;
    position: absolute;
}

.arrow-down {
    width: 15px;
    transition: all 0.3s;
}

.arrow-up {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.submenu-link {
    text-transform: none;
    color: var(--preto);
}

.submenu-link:hover {
   color: var(--cor-padrao);
}

.submenu li {
    margin-bottom: 15px;
}

.bar-button-box {
    display: none;
    width: fit-content;
    margin-left: 20px;
    cursor: pointer;
}

.bar-button-box:active {
    background-color: var(--cor-escuro);
}

.nav-buttons-box {
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: center;
}

.login-buttons {
    display: flex;
    align-items: center;
}

.login-buttons a {
    padding: 10px 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.login-button {
    margin-left: 5px;
}

.side-menu {
    width: 0px;
    height: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 60;
    transition: all 0.5s;
}

.navlist-side {
    margin-top: 40px;
}

.navlist-side li {
    list-style: none;
    padding: 5px 30px;
}

.side-submenu {
    background-color: #00000000;
    position: relative;
    box-shadow: none;
    margin: 0;
}

.submenu-link {
    color: var(--preto);
}

.button-close {
   padding: 10px 0 0 20px;
   cursor: pointer;
}

/* INDEX */
/* CALL */

.call-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.call {
    width: 30rem;
    margin-top: 150px;
}

.title-call h1, .title-call h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px 0;
}

.title-call h1 {
    font-size: 40px;
    color: #fff;
}

.title-call h2 {
    color: #fff;
}

.call-button {
    margin-top: 20px;
    border: 3px solid #fff;
    width: fit-content;
    padding: 5px 10px;
}

.call-link {
    text-transform: uppercase;
    color: #fff;
}

/* INTRO */

.intro {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text-box {
    width: 50%;
}

.title-intro {
    font-size: var(--size-subtitulos);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 600;
    position: relative;
}

.title-intro::before {
    content: '';
    width: 100%;
    height: 5px;
    top: 40px;
    left: 0;
    border-radius: 5px;
    background-color: var(--cor-secundaria);box-shadow: 0 3px 3px 0 #13181991;
    position: absolute;
}

.text-intro p {
    text-align: center;
    font-size: var(--size-textos);
    font-family: var(--fonte-textos);
    line-height: 25px;
}

.intro-img-box {
    width: 40%;
    position: relative;
    border: 10px inset var(--cor-secundaria);
}

.img-intro {
    width: 100%;
    z-index: 50;
}

/* SERVICES */

.box-services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.icon-service {
    width: 20rem;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-service img {
    width: 4em;
    border-radius: 50%;
    border: 3px solid black;
}

.title-services {
    text-align: center;
    font-size: var(--size-subtitulos);
    margin-top: 10px;
}

.text-service{
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}

/* TRAVELS */
.travels {
    background-image: url(../_media/fundo-cards.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-travels {
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

.travel-cards-box {
    display: flex;
    justify-content: center;
}

.travel-card {
    width: 15rem;
    height: 21rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 20px;
    transition: all 0.3s ease-out;
}

.travel-card:hover {
    transform: scale(1.1);
}

.travel-card a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.travel-first-card {
    background-image: url(../_media/natureza.jpeg);
}

.travel-middle-card {
    background-image: url(../_media/hotel-card.jpeg);
}

.travel-last-card {
    background-image: url(../_media/praia-card.jpeg);
}

.travel-title-card {
    padding: 0 0 10px 10px;
    text-transform: uppercase;
    font-size: var(--size-subtitulos);
    font-weight: 600;
    color: #fff;
}

/* REVIEWS */

.review-article {
    background-color: var(--cor-cinza);
}

.title-reviews {
    width: 100%;
    color: white;
    font-size: var(--size-titulos);
    text-align: center;
    margin-bottom: 40px;
}

.reviews {
    display: flex;
    justify-content: space-evenly;
}

.review-box {
    width: 15rem;
    background-color: white;
    font-size: 14px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-box img {
    width: 5em;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-box h3 {
    margin-bottom: 10px;
}

.review-box p {
    margin-bottom: 10px;
    text-align: center;
}

/*PICTURES */

.pictures-index {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.picture-box {
    width: 20rem;
    margin: 0 10px;
}

.picture-box img {
    width: 100%;
}

.buttons-pictures {
    display: flex;
    justify-content: space-around;
}

.buttons-pictures img {
    cursor: pointer;
}

/* OTHERS */

.others {
    background-color: var(--cor-padrao);
}

.cards-others {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
}

.title-others {
    width: 100%;
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.other-card {
    width: 20rem;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.middle-card {
    margin: 0 15px;
}

.card-image img {
    width: 100%;
    border-radius: 15px
}

.title-card {
    font-size: var(--size-subtitulos);
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.card-text {
    color: var(--cor-fundo);
    margin-top: 15px;
    color: var(--preto);
}

.card-others-button {
    background-color: var(--cor-padrao);
    color: #ffff;
    font-size: var(--size-subtitulos);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
}

.card-others-button:hover {
    background-color: var(--cor-claro);
}

/* Footer */

footer {
    padding-top: 60px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-box {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr;
    grid-template-rows: 1fr;
    padding-bottom: 40px;
}

.logo-footer, 
.menu-footer, 
.social-media-box, 
.contacts-footer {
    padding: 0 15px;
}

.logo-footer img {
    width: 115px;
}

.title-footer {
    font-size: var(--size-subtitulos);
    text-transform: uppercase;
}

.navlist-footer {
    list-style: none;
}

.nav-item {
    padding: 10px 0;
}

.nav-link {
    color: var(--preto);
    text-transform: uppercase;
    font-size: 14px;
    white-space: nowrap;
}

.contact-footer {
    padding: 5px 0;
}

.social-media-icon {
    width: 30px;
    margin-top: 10px;
}

.dev-footer {
    background-color: var(--cor-secundaria);
    padding: 30px 0;
}

.dev-text {
    width: 100%;
    color: #fff;
    text-align: center;
}

/* Para todas as páginas */
.background-page {
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.title-page {
    color: #fff;
    font-size: var(--size-page-titles);
    padding: 20px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px #000000e3;
}

/* SOBRE */
.background-about {
    background-image: url(../_media/back-about.jpeg);
    background-position: center;
}

.about {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.about-text-box {
    margin-right: 20px;
    padding: 25px;
}

.about-title {
    color: var(--cor-padrao);
    margin-bottom: 20px;
    font-size: var(--size-subtitulos);
    text-align: center;
}

.about-text {
    color: var(--preto);
    font-size: var(--size-textos);
}

.about-images {
    display: flex;
    flex-direction: column;
}

.about-img {
    padding: 7px 10px;
}

.about-img img {
    width: 25rem;
    height: 15rem;
}

/* PÁGINA EXCURSÕES */
.background-excursions {
    background-image: url(../_media/back-excursoes.jpeg);
    background-position: center;
}

.filters-box {
    display: flex;
    justify-content: space-between;
}

.filters-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filters-form h2 {
    margin: 0 20px;
}

.filters-form select {
    font-family: var(--fonte-padrao);
    font-size: var(--size-textos);
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.filter-buttons {
    margin-left: 20px;
}

.filter-buttons input {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

.search-box {
    display: flex;
    justify-content: space-around;
}

.form-search {
    display: flex;
    align-items: center;
}

.search {
    width: 13rem;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
}

.search-button {
    width: 30px;
    height: 30px;
    background-color: var(--cor-cinza);
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--cor-padrao);
}

.search-button img {
    width: 100%;
}

.excursion-card {
    padding: 30px;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    cursor: pointer;
}

.img-excursion-box {
    width: 40rem;
    height: 13rem;
}

.img-excursion-box img {
    width: 100%;
}

.text-excursion {
    height: 13rem;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-duration {
    display: flex;
    align-items: center;
}

.info-duration img {
    width: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 370px) {
    .top-box {
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media screen and (max-width: 570px){
    .intro-img-box {
        width: 100% !important;
    }

    article {
        padding: 30px 0;
    }

    .about-title h1 {
        font-size: var(--size-responsive-titles);
    }

    .title-page-about {
        font-size: var(--size-responsive-titles);
    }
}

@media screen and (max-width: 770px){ 
    .top-menu {
        justify-content: space-between !important;
    }
     
    .login-buttons {
        display: none;
    }

    .intro-img-box {
        width: 60% !important;
    }

    .reviews {
        flex-wrap: wrap;
    }

    .review-box {
        width: 100%;
    }

    .cards-others {
        width: 80vw !important;
    }

    .background-about {
        height: 195px !important;
    }

}

@media screen and (max-width: 990px){
    .header-box {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    .bar-button-box {
        display: flex;
        align-items: center;
        justify-content: end;
    }  

    .call {
        margin-top: 50px;
    }

    .call-article {
        height: 300px;
    }

    .intro {
        flex-direction: column;
    }

    .intro-text-box {
        width: 90%;
        margin-bottom: 40px;
    }

    .intro-img-box {
        width: 50%;
    }

    .cards-others {
        flex-direction: column;
        justify-content: center;
    }

    .cards-others {
        width: 30rem;
        margin: 0 auto;
        display: flex;
    }

    .other-card {
        width: 80%;
        margin: 0 auto;
    }

    .icon-service {
        width: 25rem;
    }

    footer {
        padding-top: 40px;
    }

    .footer-box {
        padding: 0 40px 40px 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
    }

    .logo-footer, 
    .menu-footer, 
    .contacts-footer, 
    .social-media-box {
        padding: 20px 0;
    }

    .background-about {
        height: 300px;
    }

    .about-text p {
        text-align: center;
    }

    /* call e cards, reviews- configurar os cards com js para aparecerem dois na tela quando ela diminuir */
}

@media screen and (max-width: 1200px) {
    .title-call h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 1300px) {
    .title-call h1{
        font-size: 30px;
    }
}